body{
	margin: 3px; 
	padding: 3px;
	
}
#container{
	padding: 0px 0px;
}
#VidInfo{
	padding: 1px 15px;
	padding-left: 150px;
	text-align: justify;
}
#VidDetails{
	
}
.flushRight{
	float: right;
}
.flushLeft{
	float: left;
}
