/*navigation*/


.navBarDiv {

}

.nav-bar-div{
	display: inline-block;
}
#image-div1 {

	width: 20%;

}

#search-form{

	width: 50%;
	position: relative;
	bottom: 15px;


}

#search-button {
	background-color: #f8f8f8;
	border: 2px solid #ccc;
	border-left: 0px;
	padding: 8px;
	position: relative;
	right: 4px;
}

.logo-image1 {
    width: 20%;

}

#image-div2 {


	 width: 20%;
	 float: right;
}

.logo-img2 {
	width: 15%;
	padding: 10px;
 
}

#dropdownicon {
	padding-left: 15px; /*for pictures padding is added on the outside since there is no space inside*/

}
#youtubeicon{
	padding-left: 30px;
}

#search {
	width: 70%;
  padding: 8px;
  border: 2px solid #ccc;
}

.search:hover {
	border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

/*body-div
*/

#iframe-div {
	display: inline-block;
	position: relative;
	width:60%;
}

#sidebar{
	float: right;
	position: relative;
	display: inline-block;
	width: 40%;
}

.iframe-text-icon-button {
	display: inline-block;
}

#text-div {
	width: 50%;
}

#iframe-icons-div {
	width: 20%;

}

#iframe-buttons-div {
	width: 25%;

	text-align: center;
	position: relative;
	bottom: 15px;
}

.iframe-button {
	padding: 10px;

}

#subscribe-button {
	background-color: #e6e6e6;
}

button {
	border: 0px;
}

.icon {
	padding-left:10px ;
}

#description-photo {
	width:20%;
	border: 1px solid red;
	border-radius: 100%;
}

#description-text {
	display: inline-block;
	width: 70%;
	float: right;
}

.thumbnail{
	width: 100%; 
}

.thumbimage {
	width: 45%;
}

.info {
	display: inline-block;
	width: 50%;	
	text-align: left;
	overflow: hidden;
	font-size: 10px;
}

