/*navigation*/

.flushRight{
    float: right;
}
.flushClear{
	clear: both;
}
.flushLeft{
	float: left;
}
.navBarDiv {

}

.nav-bar-div{
	display: inline-block;
}
#image-div1 {

	width: 20%;

}

#search-form{

	width: 50%;
	position: relative;
	bottom: 15px;


}

#search-button {
	background-color: #f8f8f8;
	border: 2px solid #ccc;
	border-left: 0px;
	padding: 8px;
	position: relative;
	right: 4px;
}

.logo-image1 {
    width: 20%;

}

#image-div2 {


	 width: 20%;
	 float: right;
}

.logo-img2 {
	width: 15%;
	padding: 10px;
 
}

#dropdownicon {
	padding-left: 15px; /*for pictures padding is added on the outside since there is no space inside*/

}
#youtubeicon{
	padding-left: 30px;
}

#search {
	width: 70%;
  padding: 8px;
  border: 2px solid #ccc;
}

.search:hover {
	border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

/*body-div
*/

.iframe-div {
	display: inline-block;
	position: relative;
	width:60%;
}

.sidebar{
	float: right;
	position: relative;
	display: inline-block;
	width: 40%;
}

.thumbnail{
	width: 100%; 
}

.thumbimage {
	width: 45%;
}

.info {
	display: inline-block;
	width: 50%;	
	text-align: left;
	overflow: hidden;
	font-size: 10px;
}

#iframetitle {
	margin-top: 0px;
	width:50%;
}
#iframeview {
	margin-top: 0px;
}
.description {
	width: 100%;
}

#icon {
	display: inline-block;
	border: 5px solid black;
  	border-radius:50%;
  	width: 10%;
}

#text {
	display: inline-block;
	width:70%;
}
